.Switch {
    width: 95px;
    height: 45px;
    background-color: #e5e4e4;
    border: 1px solid #d4d4d4;
    border-radius: 25px;
    cursor: pointer;
    transition: all ease-in-out .13s;
    display: flex;
    position: relative;
}

.Switch .Switch-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background-color: #ffff;
    transition: all ease-in-out .13s;
}

.Switch-active {
    background-color: #3D69BB;
    border-color: #13336e;
}
.Switch-active .Switch-toggle {
    left: inherit;
    transform: translateX(50px);
}