.ReloadButton {
    width: 58px;
    border-radius: 58px;
    height: 58px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px 2px rgb(0 0 0 / 51%);
    transform: scale(0.8);
    cursor: pointer;
}

.ReloadButton.animated svg {
    animation-name: spin;
    animation-duration: .5s;
    transform: all ease-in;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform:rotate(-360deg);}
}